.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 100%;
  min-height: 15rem;
}

.item {
  border-bottom: 1px solid hsl(var(--clr-gray-300));
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1rem 1.5rem;
  background-color: hsl(var(--clr-white));
}

.delete-btn {
  /* padding: 1rem 2rem; */
  margin-left: auto;
  display: flex;
}

.delete {
  width: 1.6rem;
  aspect-ratio: 1;
}

.checkbox {
  /* position: absolute; */
  /*TODO if hover do top */
  /* top: 1.3px; */
  /* top: 51%;
  left: 52%;
  transform: translate(-51%, -51%); */
  cursor: pointer;
  /* position: relative; */
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: hsl(var(--clr-white));
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 2rem;
  aspect-ratio: 1;

  border: 0.1rem solid hsl(var(--clr-gray-200));
  border-radius: 50%;
}
/* TODO */
/* .checkbox:hover {
  border-color: transparent;
}

.gradient-radius {
  position: relative;
  aspect-ratio: 1;
  width: 2.15rem;
  height: 2.15rem;

  border-radius: 50%;
  background: linear-gradient(
    to right bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  padding: 1px;
} */
/* .checkbox:hover {
  background-clip: padding-box; 
  border: solid 5px transparent; 
  border-radius: 1em;
} */

/* .checkbox:hover::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: calc(100% + 0.2rem);
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(
    to right bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
} */

.checkbox:checked {
  /*  */
  background: linear-gradient(
    to right bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  position: relative;
}
.checkbox:checked::after {
  content: url(../../images/icon-check.svg);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox:checked + .text {
  color: hsl(var(--clr-gray-400));
  text-decoration: line-through;
}

/*FIXME, weird space under text??  */
label {
  padding: 0;
  margin: 0;
}

.text {
  color: hsl(var(--clr-gray-500));
  width: 100%;
  height: 100%;

  /* display: inline-block;
  vertical-align: middle;
  line-height: normal; */
}
