.filter {
  color: hsl(var(--clr-gray-400));
  font-weight: var(--ff-w-b);
  background-color: hsl(var(--clr-white));
  /*FIXME does not work? */
  box-shadow: 0rem 0.5rem 1.5rem var(--clr-shadow);
  width: 100%;
  border-radius: var(--bor-rad);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.filter-btn.active {
  color: hsl(var(--clr-primary));
}

.filter-btn {
  font-size: 1.1em;
}
.filter-btn:hover {
  color: hsl(var(--clr-gray-500));
}
